body{
  background-color: #F2F3F5;
}
/* ---------------------------------CUSTOM SCROLL BAR--------------------------------- */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(199, 187, 187);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}

/* Hide Scrollbar (Cross Browser) */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}


/*------------------------------------------------- FOR REACT QUILL -------------------------------------------------*/

/* Make quill take full height */
.ql-container {
  flex: 1 !important;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Scroll only editor area */
.ql-editor {
  flex: 1;
  overflow-y: auto;
}

/* Fix toolbar */
.ql-toolbar {
  position: sticky;
  top: 0;
  z-index: 10;
  background: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
}

/* -------------------------------------------------auto save------------------------------------------------- */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}
